@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
  }

  .grid-section {
    grid-template-columns: 96px 309px 1fr;
    grid-gap: 10px;
  }

  .bugs-list {
    grid-column: 1;
  }

  .faq-list {
    grid-column: 1 / 3;
  }

  .bugs-description {
    grid-column: 2;
  }
}