img {
  display: block;
  max-width: 100%;
}

body {
  background: #1f1f1f;
  color: #e0e0e0;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 1250px) 1fr;
  font-family: 'Fira Code', monospace;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #BBAF97;
  border-left: 4px solid #1f1f1f;
  border-left: 4px solid #1f1f1f;
}

.menu {
  grid-column: 3 / 5;
  margin-top: 4rem;
  margin-bottom: 3rem;
  background: #BBAF97;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: .1em;
  color: #1f1f1f;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 100px 500px 1fr;
  grid-gap: 20px;
  margin-bottom: 5rem;
}

.material-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 300px;
  grid-gap: 20px;
  margin-bottom: 5rem;
}

.material-section a {
  color: #e0e0e0;
}

.grid-section-2 {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  display: grid; 
  grid-template-columns: 300px 300px 300px 300px; 
}

.grid-section-2 li {
  padding: 10px;
  cursor: pointer;
}

.grid-section-2 li img:hover {
  color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  transform: scale(2);
  -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari and Chrome */
}


.title {
  font-family: 'Playfair Display SC', georgia;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1rem;
  grid-column: 2 / 4;
}

.second-title {
  font-family: 'Playfair Display SC', georgia;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1rem;
  grid-column: 2 / 4;
}

.subtitle {
  font-size: 0.9rem;
  line-height: 1;
  grid-column: 2 / 4;
}

.bugs h2 {
  font-family: 'Fira Code', monospace;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1rem;
  color: #BBAF97;
}

.bugs h2::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 10px;
  background: #1A6D55;
}

.bugs p {
  font-family: 'Fira Code', monospace;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.bugs-list {
  height: 615px;
  overflow-y: scroll;
  grid-column: 2;
  cursor: pointer;
}

.bugs-list::-webkit-scrollbar {
  width: 20px;
  cursor: pointer;
}

.bugs-list::-webkit-scrollbar-thumb {
  background: #1A6D55;
  border-left: 10px solid #1f1f1f;
  border-left: 10px solid #1f1f1f;
  cursor: pointer;
}

.bugs-list::-webkit-scrollbar-track {
  background: #1f1f1f;
  cursor: pointer;
}

.bugs-description {
  grid-column: 3;
  height: 575px;
  overflow-y: scroll;
  border: 1px solid #BBAF97;
  padding: 20px;
}

.bugs .bugs-description section {
  margin-bottom: 3rem;
}

.bugs-description::-webkit-scrollbar {
  width: 14px;
  cursor: pointer;
}

.bugs-description::-webkit-scrollbar-thumb {
  background: #1A6D55;
  border-left: 4px solid #1f1f1f;
  border-left: 4px solid #1f1f1f;
}

.faq-list {
  grid-column: 2 / 4;
}

.faq-list ul {
  margin-left: 30px;
  margin-top: 20px;
}

.faq-list ul li {
  margin-bottom: 15px;
}

.faq-list dt {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #BBAF97;
}

.faq-list dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #1A6D55;
}

.faq-list dd {
  margin-bottom: .5rem;
  margin-left: 30px;
}

.tabcontent section {
  display: none;
}

.tabcontent section.active {
  display: block !important;
  animation: show .5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.accordion dd {
  display: none;
}

.accordion dt::after {
  content: '↴';
  margin-left: 10px;
}

.accordion dt.active::after {
  content: '↑';
}

.accordion dd.active {
  display: block;
  animation: slideDown .5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 200px;
    opacity: 1;
  }
}

.scroll {
  opacity: 0;
}

.scroll.active {
  opacity: 1;
  transition: .3s;
}